a {
  text-decoration: none;
  font-size: large;
}

#btn {
  background-color: white;
  color: blueviolet;
  border-color: blanchedalmond;
}

p {
  text-align: justify;
}
div {
  margin: 0;
  padding: 0;
}

/*body {
  margin: 0;
  padding: 0;
} */

#map {
  height: 97vh;
  margin-top: 15px;
}
